<div style="border-radius: 0%;" class="container p-3">
    <h3>Your Profile</h3>
    <div class="card mt-3 p-3">
        Name: {{userProfile.name}}<br>
        Email: {{userProfile.email}}<br>
        Street: {{userProfile.address.street}}<br>
        City: {{userProfile.address.city}}<br>
        State: {{userProfile.address.state}}<br>
        PinCode: {{userProfile.address.pincode}}<br>
    </div>
   <div class="" style="padding: 5px;">
    <button routerLink="/addToCart" class="btn btn-primary">Back to Home</button>
</div></div>
