<div class="login-container">
    <form #signUpform="ngForm"  class="form-login">
  
  
      <ul class="login-nav">
        <li class="login-nav__item active">
          <a>Password Reset</a>
        </li>

      </ul>
      <label for="login-input-user"  class="login__label">
        Email
      </label>
      <input id="login-input-user" [(ngModel)]="passwordUpdateData.email" name="email" class="login__input" type="text" name="email" required/>
      <label for="login-input-password" class="login__label">
        Password
      </label>
      <input id="login-input-password" [(ngModel)]="passwordUpdateData.password" name="password" class="login__input" type="password"  name="password" required/>
  \
      <button class="login__submit" (click)="updatePassword()">Update Password</button>
  
    
  
  </form>

  <a routerLink="/adminLogin" class="login__forgot">Are you Admin?</a>
  </div>
