<div class="container mt-2">
    <div class="card">
<form #addProductForm="ngForm" (ngSubmit)="addProductdata(addProductForm.value)">
  <!--  -->

    <div class="mb-3">
      <label for="example2" class="form-label">Name</label>
      <input type="text" class="form-control" id="example2" ngModel name="name">

    </div>
    <div class="mb-3">
      <label for="example3" class="form-label">Category</label>
      <input type="text" class="form-control" id="example3" ngModel name="category">
    </div>

    <div class="mb-3">
      <label for="example4" class="form-label">Price</label>
      <input type="number" class="form-control" id="example4" ngModel name="price">
    </div>
    <div class="mb-3">
      <label for="example5" class="form-label">ImageUrl</label>
      <input type="text" class="form-control" id="example5" ngModel name="imageUrl">
    </div>
    <div class="mb-3">
      <label for="example6" class="form-label">Details</label>
      <input type="text" class="form-control" id="example6" ngModel name="details">
    </div>
    <div class="mb-3">
      <label for="example1" class="form-label">SubCategory</label>
      <input type="text" class="form-control" id="example1" [ngModel] name="subcategory">
    </div>

    <button type="submit" class="btn btn-primary" (click)="addProduct()">Submit</button>
  </form>
</div>
</div>
